In [2]:
import pandas as pd
dates = ['2017-01-05 2:30:00', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05 02:30:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [3]:
#sometime the date format is different so we use
pd.to_datetime('5-1-2016', dayfirst=True)

Timestamp('2016-01-05 00:00:00')

In [4]:
pd.to_datetime('2017$01$05', format='%Y$%m$%d') #custom date format

Timestamp('2017-01-05 00:00:00')

In [5]:
#Handling invalid dates
pd.to_datetime(['2017-01-05', 'Jan 6, 2017', 'abc'], errors='ignore')

Index(['2017-01-05', 'Jan 6, 2017', 'abc'], dtype='object')

In [6]:
pd.to_datetime(['2017-01-05', 'Jan 6, 2017', 'abc'], errors='coerce')

DatetimeIndex(['2017-01-05', '2017-01-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [12]:
#handling epoch format
#Epoch or Unix time means number of seconds that have passed since Jan 1, 1970 00:00:00 UTC time
current_epoch = 1501324478
dt = pd.to_datetime([current_epoch], unit='s')
dt

DatetimeIndex(['2017-07-29 10:34:38'], dtype='datetime64[ns]', freq=None)

In [13]:
dt.view('int64')

array([1501324478000000000], dtype=int64)