In [ ]:
#Reading writing CSV,Excel files
# 1)Read CSV
# 2)Write CSV
# 3)Read Excel
# 4)Write Excel

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('stock_data.csv',skiprows = 1) #If we want to skip specific row we use skiprow
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [6]:
# we can do the same thing by using this
df = pd.read_csv('stock_data.csv',header = 1) #IHere we specify the row number as header
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [ ]:
#In case we don't have header than we can set header= None it will generate header in increasing integer
df = pd.read_csv('stock_data.csv',header = None,names = ["ticker","eps","revenue","price","people"]) #If we want to give specifiv header name if it is missing we use names
df

In [ ]:
#To read specific number of rows in dataframe
df = pd.read_csv("stock_data.csv",nrows = 3) #It will read only three rows exculding header

In [ ]:
#if we encounter some values like not available or n.a and we want it to be consider as NaN values we use
df = pd.read_csv("stock_data.csv",na_values = ["Not available","n.a."])

In [ ]:
#if we want to change the some specific column values to NaN we pass dictionary
df = pd.read_csv("stock_data.csv",na_values = { "eps" : ["Not available","n.a."],
                                              "revenue" :["Not available","n.a.",-1] })

In [ ]:
#To save the dataframe as csv file
df.to_csv("new.csv",index = False)   #By default it copies the index to csv file to skip it we set index = False
df.to_csv("new.csv",columns = ["tickers","eps"]) #To save specific column in csv files

In [ ]:
#To skip header
df.to_csv("new.csv",header = False)

In [ ]:
#<------------------------Excel File-------------------------------------------->

In [ ]:
df = pd.read_excel("stock_data.xlsx","Sheet1")

In [ ]:
#To change a specific value in a cell we use converter
#first we have to define a function

def convert_people_cell(cell):
    if cell == "n.a.":
        return "Sam Walton"
    return cell
df = pd.read_excel("stock_data.xlsx","Sheet1",converters = { "people" : convert_people_cell}) #To specify in which column we want to run the function we use converters

In [ ]:
#Write excel file
df.to_excel("new.xlsx",sheet_name = "Stock",startrow = 1,startcol = 2) #to save the file starting from particular row and column

In [ ]:
#To write two dataframe in one excel file in different sheets we pandas excelwriter class
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")